body {
    background: rgb(10,60,173);
    background: radial-gradient(circle, rgba(10,60,173,1) 0%, rgba(40,219,166,1) 100%);
}

row g-3{
    color: #000000
}

h1{
    text-align:center
}
